* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", "Inter", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #1a1a1a;
  color: #ededed;
}
html {
  scroll-behavior: smooth;
}
.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #1a1a1a;
  position: sticky;
  top: 0;
}

#startOfNav {
  text-align: left;
}

#name {
  font-size: 28px;
  color: #ededed;
  font-weight: 600;
}
#futureCareer {
  color: #b5b5b5;
  font-size: 15px;
}
#MiddleOfNav {
  background-color: #2a2a2a;
  padding: 10px 25px;
  border-radius: 40px;
  display: flex;
  gap: 25px;
  justify-content: center;
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}
#MiddleOfNav:hover {
  box-shadow: 0 0 15px rgba(0, 163, 255, 0.25);
}
.NavButton {
  color: #ededed;
  cursor: pointer;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}

.NavButton:hover {
  color: #00a3ff;
  text-shadow: 0 0 8px #00a3ff;
}

#endOfNav {
  text-align: right;
  display: flex;
  gap: 20px;
}

#hero-section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.terminal {
  position: relative;
  background-color: #1f1f1f;
  width: 1200px;
  border-radius: 10px;
  border: 5px solid #2a2a2a;
  overflow: hidden;
}
.terminal:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(0, 163, 255, 0.25);
}
.terminal-top {
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  padding: 8px 12px;
  position: relative;
}
.red-dot,
.yellow-dot,
.green-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 8px;
}
.red-dot {
  background-color: red;
}
.yellow-dot {
  background-color: yellow;
}
.green-dot {
  background-color: green;
}
.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.85rem;
  color: #888;
}
.terminal-box {
  padding: 20px;
  color: #ededed;
  justify-content: center;
  min-height: 1000px;
  font-size: 3.5rem;
}
.terminal-aspiring-career {
  position: absolute;
  bottom: 32px;
  right: 38px;
  color: #ededed;
  font-size: 2.5rem;
}
section {
  padding: 80px 60px;
}
.section-title {
  font-size: 2.2rem;
}
.project-grid,
.cert-grid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.project-name {
  background-color: #1f1f1f;
  border: 2px solid #2a2a2a;
  border-radius: 16px;
  width: 320px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4rem;
  font-weight: 600;
  color: #ededed;
}
.project-name:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 20px rgba(0, 163, 255, 0.25);
}
